{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-4">
            <!-- Profile Picture Section -->
            <div class="card">
                <div class="card-body text-center">
                    <img src="{% if user.profile.image %}{{ user.profile.image.url }}{% else %}{% static 'images/default_profile.jpg' %}{% endif %}" 
                         class="img-fluid rounded-circle mb-3" 
                         alt="Profile Picture" 
                         style="width: 150px; height: 150px;">
                    <h5 class="card-title">{{ user.username }}</h5>
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-group">
                            <input type="file" name="image" class="form-control-file" id="profilePicture">
                        </div>
                        <button type="submit" class="btn btn-primary btn-sm">Update Picture</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <!-- User Information Section -->
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">Profile Information</h2>
                    <form method="post" 
                    action="{% url 'update_profile' %}"
                    >
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="username">Username</label>
                            <input type="text" class="form-control" id="username" name="username" value="{{ user.username }}" readonly>
                        </div>
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email" class="form-control" id="email" name="email" value="{{ user.email }}">
                        </div>
                        <div class="form-group">
                            <label for="first_name">First Name</label>
                            <input type="text" class="form-control" id="first_name" name="first_name" value="{{ user.first_name }}">
                        </div>
                        <div class="form-group">
                            <label for="last_name">Last Name</label>
                            <input type="text" class="form-control" id="last_name" name="last_name" value="{{ user.last_name }}">
                        </div>
                        <div class="form-group">
                            <label for="address">Address</label>
                            <input type="text" class="form-control" id="address" name="address" value="{{ user.userprofile.address }}">
                        </div>
                        <button type="submit" class="btn btn-primary">Update Profile</button>
                    </form>
                </div>
            </div>

            <!-- Change Password Section -->
            <div class="card mt-4 mb-4">
                <div class="card-body">
                    <h2 class="card-title">Change Password</h2>
                    {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-danger {% if message.tags %}alert-{{ message.tags }}{% endif %}">
                            {{ message }}
                        </div>
                    {% endfor %}
                    {% endif %}
                    <form method="post"  action="{% url 'change_password' %}">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="old_password">Old Password</label>
                            <input type="password" class="form-control" id="old_password" name="old_password" required>
                        </div>
                        <div class="form-group">
                            <label for="new_password">New Password</label>
                            <input type="password" class="form-control" id="new_password" name="new_password" required>
                        </div>
                        <div class="form-group">
                            <label for="confirm_password">Confirm New Password</label>
                            <input type="password" class="form-control" id="confirm_password" name="confirm_password" required>
                        </div>
                        <button type="submit" class="btn btn-primary">Change Password</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}